@import url("https://fonts.googleapis.com/css?family=Noto:100,200,300.400,500,600,700|Nanum+Pen+Script|Oswald:100,200,300.400,500,600,700|Lobster|Fredericka+the+Great");

body{
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    background-position-x: right -450px;
    background-position-y: -80px;
    background-attachment: fixed;
    overflow-x: hidden;
} 

/*---------------------------------- Navbar-*/
.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    background-color: #33dfa5;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand{
    font-family: 'Lobster', sans-serif; 
    font-size: 300%;
    margin-left: 10px;
    margin-right: 100px;
    padding: 0;  
    
}

#tft{
    font-weight: 600;
    font-size: 210%;
    height: 70px;
    color: #455272;
    text-shadow: 1px 1px 2px #000000;
    line-height: 75px;
    
   
    
}

nav a h2 span{
    color: #8f8e8e;
    font-size: 50%;
    text-shadow: none;
}

.navbar-nav{
    margin-left: 300px;
}

.navbar-nav li{
    float: right;
    margin-right: 40px;
    margin-left: 50px;
    font-family: 'Noto', sans-serif;  
}

#navnav li a{
    color: #6b085e;
}

#navnav li a:hover {
    color: #106d2c;
}

.nav-item{
    
    line-height: 55px;
    letter-spacing:2px;
    font-size: 130%;
}

/*---------------------------------------------------------------title----*/
section div h1{
    width: 100%;
    text-align: center;  
    margin: 200px 0px 0px;
    font-size: 400%;
    font-family: 'Lobster', sans-serif;
    color: #455272;
    text-shadow: 2px 3px 5px #000000;
}

.title-info{
    width: 100%;
    text-align: center;
    margin: 40px 5px  250px 0px;
    padding: 0px 10px;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #2dc794;
    text-shadow: 2px 3px 5px #000000;
}

/*--------------------------------------------------------------Champions header--*/

.champion-box{
    background-color: #f56b6b;
}

.champion{
    padding: 5% 0px;
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 400%;
    font-weight: 600;
    color: #455272;
}
/*-----------------------------------------------------Phone media query--*/

@media only screen and (max-width: 768px) {

    #tft{
    font-size: 150%;
    }

    .navbar-nav{
        margin: 10px 0px; 
    }

    .title{
        font-size: 90%;
    }

    .title-info{
        margin: 20px 5px;
    }
}

/*-----------------------------------------------------tablet media query--*/

@media only screen and (max-width: 1024px) {

    #tft{
    font-size: 200%;
    }

    .navbar-nav{
        margin: 10px 0px;
    }
    .navbar-brand{
        margin-right: 50px;
    }

    .navbar-nav li{  
        margin-right: 40px;
        margin-left: 10px;
        font-size: 100%;
    }
}


/*-----------------------------------------------------laptop media query--*/

@media only screen and (max-width: 1365px) {

    .navbar-nav{
        margin-left: 5%;
        font-size: 85%
    }

}
