@import url("https://fonts.googleapis.com/css?family=Noto:100,200,300.400,500,600,700|Nanum+Pen+Script|Oswald:100,200,300.400,500,600,700|Lobster|Fredericka+the+Great");

/*-----------------------------------------------------parallax*/
.parallax{
    background-image: url("../images/misc/hero.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    background-position-x: right -450px;
    background-position-y: -80px;
    background-attachment: fixed;
    overflow-x: hidden;
} 

/*---------------------------------- Navbar-*/
.navbar {
    margin-bottom: 0;
    width: 100%;
    border: 0;
    background-color: #33dfa5;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand{
    font-family: 'Lobster', sans-serif; 
    font-size: 300%;
    margin-left: 10px;
    margin-right: 100px;
    padding: 0;  
    
}

#tft{
    font-weight: 600;
    font-size: 210%;
    height: 70px;
    color: #455272;
    text-shadow: 1px 1px 2px #000000;
    line-height: 75px;
    
   
    
}

nav a h2 span{
    color: #8f8e8e;
    font-size: 50%;
    text-shadow: none;
}

.navbar-nav{
    margin-left: 300px;
}

.navbar-nav li{
    float: right;
    margin-right: 40px;
    margin-left: 50px;
    font-family: 'Noto', sans-serif;  
}

#navnav li a{
    color: #6b085e;
}

#navnav li a:hover {
    color: #106d2c;
}

.nav-item{
    
    line-height: 55px;
    letter-spacing:2px;
    font-size: 130%;
}

/*---------------------------------------------------------------title----*/
section div h1{
    width: 100%;
    text-align: center;  
    margin: 200px 0px 0px;
    font-size: 400%;
    font-family: 'Lobster', sans-serif;
    color: #455272;
    text-shadow: 2px 3px 5px #000000;
}

.title-info{
    width: 100%;
    text-align: center;
    margin: 40px 5px  250px 0px;
    padding: 0px 10px;
    font-size: 200%;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #2dc794;
    text-shadow: 2px 3px 5px #000000;
}
/*----------------------------------------------------------champions background--*/
.champion-img{
    background-image: url("../images/misc/champions.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}
/*--------------------------------------------------------------Champions header--*/

.champion-title{

    background-color: #f56b6b;
    margin-bottom: 5%;
    padding: 2.5% 0px;
}

.champion{

    
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 400%;
    font-weight: 600;
    color: #455272;
    text-shadow: 2px 3px 5px #000000;
}

/*--------------------------------------------------------------Champions descriptions--*/



.champion-box{

    background-color: #c5628b;
    margin-bottom: 40px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;

}

.avatar-price{

    display: flex;
    padding-bottom: 5px;
    border-bottom: solid #000000;

}

.avatar{

    height:60px;
    width:60px;
    
}

.origin-class{
    width: 120px;
    padding-left: 5px;
    margin-right: 130px;
}

.origin-class p{

    margin-bottom: 2px;
    font-size: 110%;
    font-weight: 700;
}


.price p{

    font-weight: 600;
    font-size: 110%;
    position: absolute;
    float: right;
    
}

.coin{

    width: 30px;
    height: 30px;
    position: absolute;
    float: right;
}

.avatar-description{

    display: flex;
}

.ability-box{

    margin-top: 10px;
    
}

.ability-description-box{

    margin-left: 5px;
    margin-top: 5px;

}

.ability-description-box h6{

    font-weight: 700;
}

.ability{

    width: 60px;
    height: 60px;
}

.ability-description{

    font-size: 90%;
    line-height: 20px;
    font-weight: 600;
}

li div p a{
    margin-left: 40px;
}

/*--------------------------------------------------------------origin and class colours--*/

.star-guardian{

    color: #ddd348;
    text-shadow: 2px 3px 5px #000000

}

.sourcerer{

    color: #300157;
}

/*----------------------------------------------------------Items background--*/
.item-img{

    background-image: url("../images/misc/item.jpg");
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;

}

/*--------------------------------------------------------------Items header--*/

.item-title{

    background-color: #228b22;
    margin-bottom: 5%;
    padding: 2.5% 0px;
}

.item{

    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 400%;
    font-weight: 600;
    color: #455272;
    text-shadow: 2px 3px 5px #000000
}

/*--------------------------------------------------------------items descriptions--*/

#item-list .list-inline-item{

    max-width: 100%;
    
}


.item-box{

    background-color: #289c28;
    margin: 10px 5% 40px;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;

}

.item-header{

    display: flex;
    padding-bottom: 5px;
    border-bottom: solid #000000;

}


.item-avatar{

    height:60px;
    width:60px;

}

.item-box-header{

    padding-left: 5px;

}

.item-box-header h4{

    font-weight: 700;
}

.combo-box{

    display: flex;
    margin-top: 20px;
    margin-bottom:10px;
}

.item-avatar-sm{

    height: 40px;
    width: 40px;
}

.item-one{

    margin-right: 30px;
    line-height: 1.5;
}

.item-two{

    margin-right: 5px;
    line-height: 1.5;

}

.combo-description p{

    font-weight: 600;

}

/*-----------------------------------------------------patch notes header--*/

.patch-notes-title{

    background-color: #c56f1f;
    margin-bottom: 5%;
    padding: 2.5% 0px;
}

.patch-notes{

    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 400%;
    font-weight: 600;
    color: #455272;
    text-shadow: 2px 3px 5px #000000

}

/*--------------------------------------------------------------patch notes--*/
.list-inline-item:not(:last-child){

    margin:0px 0px;
    
}
#patch-notes-list .list-inline-item{

    max-width: 24%;    
}

#patch-notes-list a{

    text-decoration: none;
    
}


.patch-notes-box{

    background-color: #c56f1f;
    margin: 10px 5% 40px;
    padding: 10px 10px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    
}

.patch-notes-box h4{
  
    font-size: 250%;
    color: #d33b3b
}

.patch-notes-box p{

    font-size: 150%;
    color: #d33b3b;
    
}

.patch-notes-text:hover{

    color: #014e12
}

/*-----------------------------------------------------------------footer--*/

.footer{

    width: 100%;
    background-color: #484948;
    position: absolute;
}

.footer-text{

    padding: 10px 20px;

}


/*-----------------------------------------------------champions.html--*/

.champion-page{

    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 100%;
    margin-top: 80px;


}
.champion-avatar{

    margin: 0 10px 20px;
    padding: 57px 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    

}

.champion-avatar h1{

    margin-top: 20px;
    font-size: 200%;
    text-shadow: 1.2px 1.2px 0.9px #000000;
}

.champion-wrapper{

    width: 110px;
    height: 110px;
    border-radius: 150px;
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    box-shadow: 8px 8px 5px rgba(0,0,0,0.9);
    opacity: 1;
   
}

.avatar-img{

    width: 120px;
    height: 120px;
    
}


.origin{

    max-width: 25%;
    float: left;
    background-color: rgba(11, 139, 11, 0.5)

}
.origin-header{

    display: flex;
    border-bottom: solid #000000;
    margin: 0 10px 10px;
}

.origin-header p{

    text-shadow: 3px 4px 5px #000000;
    font-size: 150%;
    font-weight: 600;
    margin-left: 15px;
    color:#6b085e;
}

.origin-description{

    font-weight: 600;
    line-height: 20px;
    margin: 0px 10px 10px;
}

.origin-synergies{

    display: flex;
    margin: 0 0px 10px 10px;
}

.synergy-avatar{

    width: 35px;
    height: 35px;
    border-radius: 35px;
    margin-right: 10px;
    position: relative;
}

.class{

    max-width: 25%;
    float: right;
    background-color: rgba(11, 139, 11, 0.5)

}
/*-----------------------------------------------------laptop media query--*/

@media only screen and (max-width: 1365px) {

    .navbar-nav{
        margin-left: 5%;
        font-size: 85%
    }

#championlist .list-inline-item{
    max-width: 48%;
}

.champion-box{
    margin-left: 10%;
}

.origin-class{

    padding-left: 5px;
    margin-right: 45%;
}

#patch-notes-list .list-inline-item{

    max-width: 32%; 

}

}

/*-----------------------------------------------------tablet media query--*/

@media only screen and (max-width: 1024px) {

    #tft{
    font-size: 200%;
    }

    .navbar-nav{
        margin: 10px 0px;
    }
    .navbar-brand{
        margin-right: 50px;
    }

    .navbar-nav li{  
        margin-right: 40px;
        margin-left: 10px;
        font-size: 100%;
    }
    
.champion-box{
    margin-left:2%;
    margin-right:2%;
    
}


#championlist .list-inline-item{
    max-width: 48%;
}

.origin-class{

    padding-left: 5px;
    margin-right: 70%;
}


}

/*-----------------------------------------------------Phone media query--*/

@media only screen and (max-width: 768px) {

    #tft{
    font-size: 150%;
    }

    .navbar-nav{
        margin: 10px 0px; 
    }

    .title{
        font-size: 90%;
    }

    .title-info{
        margin: 20px 5px;
    }

.champion-box{
    margin-right:  3%;
    max-width: 100%;
}

.origin-class{

    padding-left: 5px;
    margin-right: 45%;
}


}




